/* colors.css */

:root {
	color-scheme: light dark;

	/* Fonts */
	--font-body: "Roboto", sans-serif;
	--font-header: "Playfair Display", serif;

	/* Light mode colors */
	--bg-color-1: #f4f4f4;
	--bg-color-2: #e8e8e8;
	--bg-color-3: #ddd;
	--bg-color-4: #eee;
	--fg-color-1: #000000;
	--fg-color-2: #333;
	--shadow-color-1: rgba(0, 0, 0, 0.1);
	--shadow-color-2: rgba(0, 0, 0, 0.5);
	--input-bg-color-1: #fff;
	--border-color-1: #ddd;
	--green-color-1: #4caf50;
	--light-overlay: rgba(255, 255, 255, 0.8);
	--dark-overlay: rgba(0, 0, 0, 0.2);
	--link-color: #2153c7;
	--link-hover-color: #0e2d66;

	/* Button 1 */
	--btn-fg-color-1: #000000;
	--btn-bg-color-1: #f1f1f1;
	--btn-border-color-1: #ccc;
	--btn-hover-bg-color-1: #ddd;
	--btn-disabled-bg-color-1: #777;

	/* Scrollbar Colors */
	--track-bg-color: #ddd;
	--thumb-bg-color: #ccc;
	--thumb-border-color: #777;
	--thumb-hover-bg-color: #bbb;
	--thumb-horizontal-bg-color: #eee;

	/* Status Colors */
	--status-success-color: #383;
	--status-error-color: #833;
	--status-info-color: #c1c1c1;
	--status-warn-color: #c17108;
}

.dark {
	/* Dark mode colors */
	--bg-color-1: #1c1c1c;
	--bg-color-2: #222;
	--bg-color-3: #333;
	--bg-color-4: #555;
	--fg-color-1: #fff;
	--fg-color-2: #aaa;
	--fg-color-3: #888;
	--input-bg-color-1: #1e1e1e;
	--shadow-color-1: rgba(255, 255, 255, 0.1);
	--shadow-color-2: rgba(255, 255, 255, 0.25);
	--border-color-1: #3f3f3f;
	--green-color-1: #4caf50;
	--bg-color-3: #2f2f2f;
	--light-overlay: rgba(0, 0, 0, 0.8);
	--dark-overlay: rgba(0, 0, 0, 0.2);
	--track-bg-color: #1a1a1a;
	--thumb-bg-color: #333;
	--thumb-border-color: #555;
	--thumb-hover-bg-color: #2a2a2a;
	--thumb-horizontal-bg-color: #333;
	--bg-color-4: #111;
	--link-color: #91add4;
	--link-hover-color: #6f88be;

	/* Button 1 */
	--btn-fg-color-1: #f4f4f4;
	--btn-bg-color-1: #4a4a4a;
	--btn-border-color-1: #777777;
	--btn-hover-bg-color-1: #373636;
	--btn-disabled-bg-color-1: #999;

	/* Status Colors */
	--status-success-color: #383;
	--status-error-color: #e33;
	--status-info-color: #585958;
	--status-warn-color: #c17108;
}
